/* Adicionando uma transição na troca de cor dos links da nav */
nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease-in-out; /* Adicionado */
}

nav a:hover {
  color: #ffc107;
}

/* Adicionando um efeito de hover nas imagens */
.squirtle-images img {
  width: 200px;
  transition: transform 0.3s ease-in-out; /* Adicionado */
}

.squirtle-images img:hover {
  transform: scale(1.1); /* Adicionado */
}

/* Adicionando uma transição para o hover nas imagens */
#evolucao figcaption {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
  transition: font-size 0.3s ease-in-out; /* Adicionado */
}

/* Adicionando uma transição na troca de opacity dos links */
footer a {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out; /* Adicionado */
}

/* Transformando nossa main em um display grid */
main {
  max-width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Removendo a width das sections e article */
main > section,
main > article {
  color: black;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Aplicando os estilos para resoluções menores que 768px */
@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  #evolucao ul {
    flex-direction: column;
    align-items: center;
  }

  #evolucao figcaption {
    font-size: 16px;
  }

  header h1 {
    font-size: 20px;
  }

  main h2 {
    font-size: 18px;
  }
}

/* Adicionando o efeito de fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main > section,
main > article {
  animation: fadeIn 0.5s ease-out;
}
